<div>
  <!-- water -->
  <app-pokemon-card *ngIf="selectedPokemons.water" [id]="selectedPokemons.water.id"></app-pokemon-card>
  <!-- fire -->
  <app-pokemon-card *ngIf="selectedPokemons.fire" [id]="selectedPokemons.fire.id"></app-pokemon-card>
  <!-- electric -->
  <app-pokemon-card *ngIf="selectedPokemons.electric" [id]="selectedPokemons.electric.id"></app-pokemon-card>
  <!-- rock -->
  <app-pokemon-card *ngIf="selectedPokemons.rock" [id]="selectedPokemons.rock.id"></app-pokemon-card>
</div>
